<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25  py-5 ">
        <div class="title pb-5">
            <h2 class="font-weight-bold text-white">Login System</h2>
            <span class="text-white">Log in for the existing user</span>
        </div>
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="email" class="form-control bg-dark text-danger  border-danger mt-3" placeholder="username" name="email">
                <small class="form-text text-muted text-control text-white"><a href="#"  class="text-danger">Register email address?</a></small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control bg-dark text-danger border-danger mt-3" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-danger button">Submit</button>
        </form>
    </div>
</div>

<%- include('footer') -%>


<% if(locals.logout){ %>
    <div id="alertmsg" class="  justify-content-center alert alert-danger">
        <%= logout %>
    </div>
<% } %>
</div>
<script>
const sree=document.getElementById("alertmsg");
function reload(){
    alertmsg.innerHTML = "";
}

</script>